<link rel="stylesheet" href="../style.css">

<header class="header">
  <h1><a href="/" class="header__title">百川うさのメモアプリ</a></h1>
</header>

<div class="container">
  <h2 class="memo-title"><%= @memo["title"] %></h2>
  <p class="memo-content"><%= @memo["content"] %></p>


  <div class= "container__button">
    <input type="button" onclick="location.href='/memos/<%= @memo["id"] %>/edit'" class="btn" value="変更">

    <form action="/memos/<%= @memo["id"] %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" >
      <input type="submit" class="btn" value="削除">
    </form>
  </div>
</div>
